* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #3498db; 
    color: #fff;
  }
  
  .store-name h1 {
    font-size: 24px;
    display: flex;
    align-items: center;
  }
  
  .store-name h1 strong {
    margin-right: 10px; 
  }
  
  .user-links button {
    margin-left: 20px;
    background-color: transparent;
    border: 1px solid #fff; 
    color: #fff; 
    padding: 8px 15px;
    cursor: pointer;
  }
   .red1 button{
    background-color: red;
    color: white;
  }
  .user-links button:hover {
    background-color: #fff; 
    color: #3498db; 
  }
  .second-row {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef; 
  }
  
  .second-row .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .hamburger-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .search-bar button {
    padding: 8px 15px;
    border: 1px solid #3498db;
    border-radius: 4px;
    background-color: #3498db; 
    color: #fff; 
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #fff; 
    color: #3498db;
  }
  /* Existing styles */

/* Styles for smaller screens (mobile devices) */
@media only screen and (max-width: 600px) {
    .container {
      padding: 10px; 
    }
  
    .store-name h1 {
      font-size: 20px; 
    }
  
    .user-links button {
      margin-left: 10px;
    }
  
    .second-row .container {
      padding: 10px; 
    }
  
    .hamburger-icon {
      font-size: 18px; 
    }
  
    .search-bar input[type="text"] {
      width: 70%; 
    }
  
    .search-bar button {
      width: 30%; 
      margin-right: 0;
    }
    .image-container {
        max-width: 100%;
        overflow: hidden;
        margin-top: 20px; 
      }
    
      .image-container img {
        width: 100%;
        height: auto;
        display: block; 
      }
  }
  
